@inherits RedditStocksBase

@if (RedditStocks == null && ErrorMessage == null)
{
    <h1>Loading...</h1>
}
else if (ErrorMessage != null)
{
    <h1>@ErrorMessage</h1>
}
else
{
    @foreach (var stock in RedditStocks)
    {
        if (stock.no_of_comments >= 4)
        {
            <li>
                <MudCard Style="background:rgba(39, 39, 47, 1); width:230px; height: 235px" Class="mx-2" >
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h2">@stock.ticker</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="d-inline-flex">
                        <MudChip Size="Size.Small" Icon="@Icons.Custom.Brands.Reddit" Variant="Variant.Text" Color="Color.Secondary">@stock.no_of_comments</MudChip>
                        @if (stock.sentiment == "Bullish")
                        {
                            <MudChip Size="Size.Small" Icon="@Icons.Material.Filled.NorthEast" Variant="Variant.Text" Color="Color.Success">@stock.sentiment</MudChip>
                        }
                        else
                        {
                            <MudChip Size="Size.Small" Icon="@Icons.Material.Filled.SouthEast" Variant="Variant.Text" Color="Color.Error">@stock.sentiment</MudChip>
                        }
                    </MudCardContent>
                    <MudCardActions Class="justify-end">
                        <MudButton Size="Size.Large" Variant="Variant.Text" Color="Color.Primary" Href="@($"StockDetail/{stock.ticker}/1day")">
                            <MudText Typo="Typo.h5" Align="Align.Center">Details</MudText>
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </li>
        }
    }
}
         