@page "/YourWatch"
@inherits YourWatchBase

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@if (Summaries == null && ErrorMessage == null)
{
    <h1>Loading...</h1>
}
else if (ErrorMessage != null)
{
    <h1>@ErrorMessage</h1>
}
else 
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h1" Align="Align.Center" Class="my-10">Your Stock Watch</MudText>
        <hr />
        <MudGrid>
            @foreach (var summary in Summaries)
            {
                <MudItem sm="6">
                    <MudCard Style="@($"background:rgba(39, 39, 47, 1)")">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h2">@summary.symbol</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Class="mb-4" Typo="Typo.h4">@summary.name</MudText>
                            <MudChip Icon="@Icons.Material.Filled.CurrencyExchange" Variant="Variant.Text" Color="Color.Secondary">@summary.exchange</MudChip>
                            <MudChip Icon="@Icons.Material.Filled.AttachMoney" Variant="Variant.Text" Color="Color.Secondary">@summary.currency</MudChip>
                        </MudCardContent>
                        <MudCardActions Class="justify-end">
                            <MudButton Size="Size.Large" Variant="Variant.Text" Color="Color.Primary" OnClick="(() => RemoveStock_Click(summary.symbol))">
                                <MudText Typo="Typo.h5" Align="Align.Center">Remove</MudText>
                            </MudButton>
                            <MudButton Size="Size.Large" Variant="Variant.Text" Color="Color.Primary" Href="@($"StockDetail/{summary.symbol}/1day")">
                                <MudText Typo="Typo.h5" Align="Align.Center">Details</MudText>
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>

}